<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<logger name="com.api" level="debug" />
	<logger name="com" level="debug" />
	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%X{requestId}] - %msg%ex{2}%n </pattern>
		</encoder>
	</appender>
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
<!-- 		<file>application.log</file> -->
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- rolling daily -->
			<fileNamePattern>application-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxFileSize>100MB</maxFileSize>
			<maxHistory>60</maxHistory>
			<totalSizeCap>20GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%X{requestId}] - %msg%ex{2}%n </pattern>
		</encoder>
	</appender>

	<root level="error">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>


</configuration>